
    <tr>
      <th scope="row">{{name}}</th>
      <td>{{#each skills as |skill|}}
          {{name}}
          {{/each}}
     </td>
      <td>{{#each project_team as |user|}}
          {{name}}
          {{/each}}
     </td>
        <td>{{format_date starting_date}}</td>
        <td>{{format_date ending_date}}</td>
    </tr>

      {{!-- <div class="w-100"></div> --}}